<h3
  class="font-bold pl-4 color-gray text-2xl subpixel-antialiased text-gray-800 uppercase"
>
  {{ getRegionTitle() }}
</h3>

<app-breadcrumb></app-breadcrumb>

<!-- <p-breadcrumb class="max-w-full" [model]="" /> -->
<!-- @let users = users$ | async; -->
@let data=data$ | async;
<p-table
  [scrollable]="true"
  scrollHeight="flex"
  #dt
  [value]="data || []"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [size]="'large'"
  [tableStyle]="{ 'min-width': '60rem' }"
  [paginator]="true"
  [rows]="10"
  stripedRows
  responsiveLayout="scroll"
  class="custom-table w-full overflow-x-auto"
  [rowsPerPageOptions]="[5, 10, 20]"
  [globalFilterFields]="['name']"
  stateStorage="session"
  stateKey="statedemo-session"
>
  <!-- [loading]="isLoading()" -->
  <ng-template #caption>
    <div class="flex flex-wrap gap-2">
      <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" />
      <!-- (click)="clear(dt)" -->
      <p-button
        p-button
        icon="pi pi-plus"
        label="Add {{
          this.dataType === 'deptCats'
            ? 'Department Categories'
            : this.dataType === 'orgTypes'
            ? 'Organization Types'
            : this.dataType
        }}"
        styleClass="ml-2"
        (click)="
          formState.set('addItem'); displayDialogBox.set(true); form.reset()
        "
      />
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Keyboard Search"
          class="w-full md:w-56"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let country of tableHeadings$ | async">
        {{ country | titlecase }}
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-rowIndex="rowIndex"
  >
    <tr [pSelectableRow]="rowData">
      <td
        *ngFor="let heading of getTableHeadings(data ?? []); trackBy: trackByID"
        class="text-center text-justify"
      >
        <ng-container
          *ngIf="
            heading === 'status' || heading === 'isActive';
            else defaultCell
          "
        >
          <p-tag
            [severity]="rowData[heading] === 1 ? 'success' : 'danger'"
            [value]="getTagValue(rowData[heading])"
            [rounded]="true"
          />
        </ng-container>
        <ng-template #defaultCell>
          {{ rowData[heading] ?? "-" }}
        </ng-template>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text"
          pTooltip="Edit Item"
          tooltipPosition="top"
          (click)="editItem(rowData)"
        ></button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-text p-button-danger"
          pTooltip="Delete Item"
          tooltipPosition="top"
          (click)="deleteItemConfirmation(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [visible]="displayDialogBox()"
  styleClass="w-full md:w-[40rem]"
  [closable]="false"
  [maximizable]="true"
>
  <!-- (onHide)="dialogClose()" -->
  <ng-template #header>
    <div class="flex items-center justify-between w-full">
      <h3 class="font-semibold text-lg">
        @if(formState() == 'addItem'){ Add
        {{
          this.dataType === "deptCats"
            ? "Department Categories"
            : this.dataType === "orgTypes"
            ? "Organization Types"
            : this.dataType
        }}
        } @if(formState() == 'editItem'){ Edit
        {{
          this.dataType === "deptCats"
            ? "Department Categories"
            : this.dataType === "orgTypes"
            ? "Organization Types"
            : this.dataType
        }}" }
      </h3>
      <button
        pButton
        icon="pi pi-times"
        (click)="displayDialogBox.set(false)"
        class="p-button-rounded p-button-text"
      ></button>
    </div>
  </ng-template>
  <form #form="ngForm" (ngSubmit)="form.valid && addOrUpdateItem()">
    <!-- To add the building ############## -->
    <ng-container *ngIf="dataType === 'Country'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Country Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="name"
          placeholder="Country Name"
          required
          [(ngModel)]="newCountry.name"
          name="name"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Code

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="name"
          placeholder="Code"
          required
          [(ngModel)]="newCountry.code"
          name="code"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Phone Code

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="pCode"
          placeholder="Phone Code"
          required
          name="phoneCode"
          [(ngModel)]="newCountry.phoneCode"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Currency Code

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="pCode"
          placeholder="Currency Code"
          required
          name="currencyCode"
          [(ngModel)]="newCountry.currencyCode"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <!-- <div
      class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
    >
      <label for="description" class="font-medium"
        >Status
        <span class="text-red-400 font-bold">*</span>
      </label>
      <p-checkbox [binary]="true" />
    </div> -->
    </ng-container>
    <!-- Province -->
    <ng-container *ngIf="dataType === 'Province'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Country

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(countries$ |async; as countries){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="countries"
          [(ngModel)]="selectedCountry"
          optionLabel="name"
          placeholder="Select Country"
          class="w-full"
          name="countryName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'country')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Province Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="pname"
          placeholder="Province Name"
          required
          [(ngModel)]="newProvince.name"
          name="pname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Code

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="name"
          placeholder="Code"
          required
          [(ngModel)]="newProvince.code"
          name="code"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <!-- <div
      class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
    >
      <label for="description" class="font-medium"
        >Status
        <span class="text-red-400 font-bold">*</span>
      </label>
      <p-checkbox [binary]="true" />
    </div> -->
    </ng-container>

    <!-- Districts -->
    <ng-container *ngIf="dataType === 'District'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Country

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(countries$ |async; as countries){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="countries"
          [(ngModel)]="selectedCountry"
          optionLabel="name"
          placeholder="Select Country"
          class="w-full"
          name="countryName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'country')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Province Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(provinces$ |async; as provinces){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="provinces"
          [(ngModel)]="selectedProvince"
          optionLabel="name"
          placeholder="Select Province"
          class="w-full"
          name="provinceName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'province')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >District

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="dname"
          placeholder="District Name"
          required
          [(ngModel)]="newDistrict.name"
          name="name"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <!-- <div
      class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
    >
      <label for="description" class="font-medium"
        >Status
        <span class="text-red-400 font-bold">*</span>
      </label>
      <p-checkbox [binary]="true" />
    </div> -->
    </ng-container>

    <!-- Cities -->
    <ng-container *ngIf="dataType === 'City'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Country

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(countries$ |async; as countries){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="countries"
          [(ngModel)]="selectedCountry"
          optionLabel="name"
          placeholder="Select Country"
          class="w-full"
          name="countryName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'country')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Province

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(provinces$ |async; as provinces){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="provinces"
          [(ngModel)]="selectedProvince"
          optionLabel="name"
          placeholder="Select Province"
          class="w-full"
          name="provinceName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'province')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >City

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          id="cname"
          placeholder="City Name"
          required
          [(ngModel)]="newCity.name"
          name="cname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <!-- <div
      class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
    >
      <label for="description" class="font-medium"
        >Status
        <span class="text-red-400 font-bold">*</span>
      </label>
      <p-checkbox [binary]="true" />
    </div> -->
    </ng-container>

    <!-- Religion -->
    <ng-container *ngIf="dataType === 'Religion'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newReligion.name"
          id="name"
          placeholder="Religion Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newReligion.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Following will be relocated  -->
    <!-- Education Degree -->
    <ng-container *ngIf="dataType === 'Degree'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDegree.name"
          id="name"
          placeholder="Degree Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newDegree.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Education Institutues -->
    <ng-container *ngIf="dataType === 'Institue'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newInstitute.name"
          id="name"
          placeholder="Institue Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newInstitute.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Designations -->
    <ng-container *ngIf="dataType === 'Designation'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDesignation.name"
          id="name"
          placeholder="Designation Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newDesignation.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Departments -->
    <ng-container *ngIf="dataType === 'Department'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDepartment.name"
          id="name"
          placeholder="Department Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newDepartment.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Department

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(departmentCats$ |async; as departmentCats){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="departmentCats"
          [(ngModel)]="selectedDepartmentCat"
          optionLabel="name"
          placeholder="Select Department Category"
          class="w-full"
          name="countryName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'departmentCat')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Code

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDepartment.code"
          id="code"
          placeholder="Department Code"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Amount

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-inputNumber
          name="amount"
          [(ngModel)]="newDepartment.amount"
          [min]="0"
          [useGrouping]="false"
          placeholder="Amount"
          (ngModelChange)="calculateDiscountedAmount()"
        ></p-inputNumber>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex">Discount Type </label>
        @if(discountTypes$ |async; as discountTypes){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="discountTypes"
          [(ngModel)]="selectedDiscountType"
          optionLabel="name"
          placeholder="Select Discount Type"
          class="w-full"
          name="discountType"
          dataKey="id"
          (ngModelChange)="onDropdownChange($event, 'discountType')"
        />

        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium">Discount </label>
        <p-inputNumber
          name="discount"
          [(ngModel)]="newDepartment.discount"
          [min]="0"
          [useGrouping]="false"
          placeholder="Discount"
          (ngModelChange)="calculateDiscountedAmount()"
        ></p-inputNumber>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Discounted Amount</label>
        <span class="w-full p-2 border rounded bg-gray-100">
          {{ newDepartment.discountedAmount ?? "-" }}
        </span>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >canCheckIn

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox
          name="canCheckIn"
          [binary]="true"
          [ngModel]="newDepartment.canCheckIn === 1"
          (onChange)="newDepartment.canCheckIn = $event.checked ? 1 : 0"
        >
        </p-checkbox>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >isInPatient

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox
          name="isInPatient"
          [binary]="true"
          [ngModel]="newDepartment.isInPatient === 1"
          (onChange)="newDepartment.isInPatient = $event.checked ? 1 : 0"
        >
        </p-checkbox>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >isSurgical

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox
          name="isSurgical"
          [binary]="true"
          [ngModel]="newDepartment.isSurgical === 1"
          (onChange)="newDepartment.isSurgical = $event.checked ? 1 : 0"
        >
        </p-checkbox>
      </div>
    </ng-container>
    <!-- Department Cats -->
    <ng-container *ngIf="dataType === 'deptCats'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDepartmentCategories.name"
          id="cname"
          placeholder="Category Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Select Branch

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(branches$ |async; as branches){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches"
          [(ngModel)]="selectedBranch"
          optionLabel="name"
          placeholder="Select Branch"
          class="w-full"
          name="branchName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newDepartmentCategories.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Organization Types -->
    <ng-container *ngIf="dataType === 'orgTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newOrgTypes.name"
          id="name"
          placeholder="Organization Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newOrgTypes.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- JobType Form -->
    <ng-container *ngIf="dataType === 'jobTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium">
          Name <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newJobType.name"
          id="name"
          placeholder="Job Type Name"
          required
          name="jobTypeName"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium">
          Description <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newJobType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="jobTypeDescription"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Select Branch

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(branches$ |async; as branches){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches"
          [(ngModel)]="selectedBranch"
          optionLabel="name"
          placeholder="Select Branch"
          class="w-full"
          name="branchName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Value</label>
        <p-inputNumber
          name="value"
          [(ngModel)]="newJobType.value"
          [min]="0"
          [useGrouping]="false"
          placeholder="Value"
        ></p-inputNumber>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Enable GP</label>
        <p-checkbox
          name="enableGp"
          [binary]="true"
          [ngModel]="newJobType.enableGp"
          (onChange)="newJobType.enableGp = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Enable GI</label>
        <p-checkbox
          name="enableGi"
          [binary]="true"
          [ngModel]="newJobType.enableGi"
          (onChange)="newJobType.enableGi = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Enable BF</label>
        <p-checkbox
          name="enableBf"
          [binary]="true"
          [ngModel]="newJobType.enableBf"
          (onChange)="newJobType.enableBf = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Enable Income Tax</label>
        <p-checkbox
          name="enableIncomeTax"
          [binary]="true"
          [ngModel]="newJobType.enableIncomeTax"
          (onChange)="newJobType.enableIncomeTax = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Enable Service Tax</label>
        <p-checkbox
          name="enableServiceTax"
          [binary]="true"
          [ngModel]="newJobType.enableServiceTax"
          (onChange)="newJobType.enableServiceTax = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Is Honorary</label>
        <p-checkbox
          name="isHonorary"
          [binary]="true"
          [ngModel]="newJobType.isHonorary"
          (onChange)="newJobType.isHonorary = $event.checked"
        ></p-checkbox>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label class="font-medium">Active</label>
        <p-checkbox
          name="isActive"
          [binary]="true"
          [ngModel]="newJobType.isActive === 1"
          (onChange)="newJobType.isActive = $event.checked ? 1 : 0"
        ></p-checkbox>
      </div>
    </ng-container>
<!-- Patient Type -->
    <ng-container *ngIf="dataType === 'patientTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newPatientType.name"
          id="name"
          placeholder="Type Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newPatientType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
     <!-- Patient Checkin status -->
    <ng-container *ngIf="dataType === 'patientCheckInStatus'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newPatientCheckInStatus.name"
          id="name"
          placeholder="Status Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newPatientCheckInStatus.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
        <!-- CheckIn Type -->
    <ng-container *ngIf="dataType === 'checkInTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newCheckInType.name"
          id="name"
          placeholder="Status Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newCheckInType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
     <!-- Guardian Type -->
    <ng-container *ngIf="dataType === 'guardianTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newGuardianType.name"
          id="name"
          placeholder="Guardian Type"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newGuardianType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
      <!-- BloodGroup -->
    <ng-container *ngIf="dataType === 'bloodGroups'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newBloodGroup.name"
          id="name"
          placeholder="Bloodgroup Type"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newBloodGroup.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
     <!-- Payment Methods -->
    <ng-container *ngIf="dataType === 'paymentmethods'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newPaymentMethod.name"
          id="cname"
          placeholder="Method Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium flex"
          >Select Branch

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(branches$ |async; as branches){

        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches"
          [(ngModel)]="selectedBranch"
          optionLabel="name"
          placeholder="Select Branch"
          class="w-full"
          name="branchName"
          dataKey="id"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
        }
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newPaymentMethod.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
     <!-- DiscountType -->
    <ng-container *ngIf="dataType === 'discountTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newDiscountType.name"
          id="name"
          placeholder="Discount Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newDiscountType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
      <!-- Charges Types -->
    <ng-container *ngIf="dataType === 'chargesTypes'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newChargesType.name"
          id="name"
          placeholder="Charge Name"
          required
          name="rname"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newChargesType.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          name="relDes"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>
    <!-- Bank Form -->
<ng-container *ngIf="dataType === 'Bank'">
  <div class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center">
    <label for="name" class="font-medium">
      Name <span class="text-red-400 font-bold">*</span>
    </label>
    <input
      pInputText
      [(ngModel)]="newBank.name"
      id="name"
      placeholder="Bank Name"
      required
      name="bankName"
      class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start">
    <label for="description" class="font-medium">
      Description <span class="text-red-400 font-bold">*</span>
    </label>
    <textarea
      pInputTextarea
      [(ngModel)]="newBank.description"
      id="description"
      placeholder="Description"
      required
      rows="5"
      name="bankDescription"
      class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
    ></textarea>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center">
    <label for="abbrivation" class="font-medium">
      Abbreviation <span class="text-red-400 font-bold">*</span>
    </label>
    <input
      pInputText
      [(ngModel)]="newBank.abbrivation"
      id="abbrivation"
      placeholder="Abbreviation (e.g., HBL, UBL)"
      required
      name="bankAbbrivation"
      class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center">
    <label for="code" class="font-medium">
      Code <span class="text-red-400 font-bold">*</span>
    </label>
    <input
      pInputText
      [(ngModel)]="newBank.code"
      id="code"
      placeholder="Bank Code"
      required
      name="bankCode"
      class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
    />
  </div>

 
</ng-container>

    <div class="flex justify-end mt-4">
      <button
        pButton
        label="{{ formState() === 'editItem' ? 'Update' : 'Save' }}"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
        [disabled]="form.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
<p-confirmDialog>
  <ng-template pTemplate="footer" let-confirmation>
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="this.confirmationService.close()"
    ></button>

    <button
      pButton
      type="button"
      label="Proceed"
      icon="pi pi-check"
      class="p-button-danger"
      (click)="deleteItem()"
    ></button>
  </ng-template>
</p-confirmDialog>
