.ng-invalid.ng-dirty {
    border: 1px solid red !important;
}
.label-required {
    position: relative;
    display: inline-block;
}

.asterisk {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}