<div class="p-6">
  <h2 class="text-3xl font-bold mb-6">Patient Registration</h2>

  <div class="mb-8">
    <div class="flex gap-8">
      <div class="flex items-center gap-2">
        <p-radioButton
          name="patientType"
          inputId="regular"
          value="Regular"
          [(ngModel)]="patientType"
          (onClick)="onTypeChange('Regular')"
        >
        </p-radioButton>
        <label for="regular" class="cursor-pointer">Regular</label>
      </div>

      <div class="flex items-center gap-2">
        <p-radioButton
          name="patientType"
          inputId="entitle"
          value="Entitle"
          [(ngModel)]="patientType"
          (onClick)="onTypeChange('Entitle')"
        >
        </p-radioButton>
        <label for="entitle" class="cursor-pointer">Entitle</label>
      </div>

      <div class="flex items-center gap-2">
        <p-radioButton
          name="patientType"
          inputId="panel"
          value="Panel"
          [(ngModel)]="patientType"
          (onClick)="onTypeChange('Panel')"
        >
        </p-radioButton>
        <label for="panel" class="cursor-pointer">Panel</label>
      </div>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
      <div>
        <label>MR No</label>
        <input
          pInputText
          formControlName="mrno"
          class="w-full"
          placeholder="Enter MR No"
          variant="filled"
        />
      </div>

      <div>
        <label>Patient Name</label>
        <input
          pInputText
          formControlName="name"
          class="w-full"
          placeholder="Enter Patient Name"
          variant="filled"
        />
      </div>

      <div>
        <label>Gender</label>
        <p-dropdown
          [options]="[
            { value: 'Male', label: 'Male' },
            { value: 'Female', label: 'Female' }
          ]"
          formControlName="gender"
          placeholder="Select gender"
          class="w-full"
          variant="filled"
        ></p-dropdown>
      </div>

      <div>
        <label>Marital Status</label>
        <p-dropdown
          [options]="[
            { value: 'Single', label: 'Single' },
            { value: 'Married', label: 'Married' },
            { value: 'Divorced', label: 'Divorced' },
            { value: 'Widow', label: 'Widow' }
          ]"
          formControlName="maritalStatus"
          placeholder="Select marital status"
          class="w-full"
          variant="filled"
        ></p-dropdown>
      </div>

      <div>
        <label>CNIC</label>
        <input
          pInputText
          formControlName="cnic"
          class="w-full"
          placeholder="Enter CNIC"
          variant="filled"
        />
      </div>

      <div>
        <label>Passport</label>
        <input
          pInputText
          formControlName="passport"
          class="w-full"
          placeholder="Enter Passport Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Date of Birth</label>
        <p-calendar
          variant="filled"
          type="date"
          formControlName="dob"
          placeholder="Select Date of Birth"
          [yearNavigator]="true"
          [yearRange]="'2000:2030'"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.controls['dob'].invalid && form.controls['dob'].touched
          }"
        />
      </div>

      <div>
        <label>Religion ID</label>
        <input
          pInputText
          formControlName="religionId"
          type="number"
          class="w-full"
          placeholder="Enter Religion ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Country ID</label>
        <input
          pInputText
          formControlName="countryId"
          type="number"
          class="w-full"
          placeholder="Enter Country ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Province ID</label>
        <input
          pInputText
          formControlName="provinceId"
          type="number"
          class="w-full"
          placeholder="Enter Province ID"
          variant="filled"
        />
      </div>

      <div>
        <label>City ID</label>
        <input
          pInputText
          formControlName="cityId"
          type="number"
          class="w-full"
          placeholder="Enter City ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Address</label>
        <input
          pInputText
          formControlName="address"
          class="w-full"
          placeholder="Enter Address"
          variant="filled"
        />
      </div>

      <div>
        <label>Mobile No</label>
        <input
          pInputText
          formControlName="mobileNo"
          class="w-full"
          placeholder="Enter Mobile Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Phone No</label>
        <input
          pInputText
          formControlName="phone"
          class="w-full"
          placeholder="Enter Phone Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Email</label>
        <input
          pInputText
          formControlName="email"
          class="w-full"
          placeholder="Enter Email Address"
          variant="filled"
        />
      </div>

      <div>
        <label>Guardian Type ID</label>
        <input
          pInputText
          formControlName="guadianTypeId"
          type="number"
          class="w-full"
          placeholder="Enter Guardian Type ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Guardian Name</label>
        <input
          pInputText
          formControlName="guadianName"
          class="w-full"
          placeholder="Enter Guardian Name"
          variant="filled"
        />
      </div>

      <div>
        <label>Guardian NIC</label>
        <input
          pInputText
          formControlName="guadianNic"
          class="w-full"
          placeholder="Enter Guardian NIC"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Type ID</label>
        <input
          pInputText
          formControlName="noktypeId"
          type="number"
          class="w-full"
          placeholder="Enter NOK Type ID"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Relation ID</label>
        <input
          pInputText
          formControlName="nokrelationId"
          type="number"
          class="w-full"
          placeholder="Enter NOK Relation ID"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Name</label>
        <input
          pInputText
          formControlName="nokname"
          class="w-full"
          placeholder="Enter NOK Name"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK NIC</label>
        <input
          pInputText
          formControlName="noknic"
          class="w-full"
          placeholder="Enter NOK NIC"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Mobile</label>
        <input
          pInputText
          formControlName="nokmobile"
          class="w-full"
          placeholder="Enter NOK Mobile"
          variant="filled"
        />
      </div>

      <div>
        <label>Patient Type ID</label>
        <input
          pInputText
          formControlName="patientTypeId"
          type="number"
          class="w-full"
          placeholder="Enter Patient Type ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Organization (porgId)</label>
        <input
          pInputText
          formControlName="porgId"
          type="number"
          class="w-full"
          placeholder="Enter Organization ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Package (packId)</label>
        <input
          pInputText
          formControlName="packId"
          type="number"
          class="w-full"
          placeholder="Enter Package ID"
          variant="filled"
        />
      </div>
    </div>

    <!-- Additional Fields for Entitle & Panel -->
    <ng-container *ngIf="patientType !== 'Regular'">
      <h3 class="text-xl font-semibold mt-4 mb-2">Employment Details</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div>
          <label>Employee Card No</label>
          <input
            pInputText
            formControlName="pnlEmpCardNo"
            class="w-full"
            placeholder="Enter Employee Card No"
            variant="filled"
          />
        </div>
        <div>
          <label>Card Expiry Date</label>
          <p-calendar
            formControlName="pnlEmpCardExpiry"
            showIcon
            class="w-full"
            placeholder="Select Card Expiry Date"
            variant="filled"
          ></p-calendar>
        </div>
        <div>
          <label>Department</label>
          <input
            pInputText
            formControlName="pnlDepartment"
            class="w-full"
            placeholder="Enter Department"
            variant="filled"
          />
        </div>
        <div>
          <label>Designation</label>
          <input
            pInputText
            formControlName="designation"
            class="w-full"
            placeholder="Enter Designation"
            variant="filled"
          />
        </div>
        <div>
          <label>Upload Document 1</label>
          <input type="file" class="w-full" variant="filled" />
        </div>
        <div>
          <label>Upload Document 2</label>
          <input type="file" class="w-full" variant="filled" />
        </div>
      </div>

      <h3 class="text-xl font-semibold mt-4 mb-2">Dependent Details</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div>
          <label>Is Self?</label>
          <p-checkbox binary="true" formControlName="isSelf"></p-checkbox>
        </div>
        <div>
          <label>Dependent NIC</label>
          <input
            pInputText
            formControlName="dependentNic"
            class="w-full"
            placeholder="Enter Dependent NIC"
            variant="filled"
          />
        </div>
        <div>
          <label>Dependent Relation ID</label>
          <input
            pInputText
            formControlName="dependentRelationId"
            class="w-full"
            placeholder="Enter Dependent Relation ID"
            variant="filled"
          />
        </div>
      </div>
    </ng-container>

    <div class="text-right mt-6">
      <p-button
        label="Submit"
        type="submit"
        icon="pi pi-check"
        class="w-full md:w-1/3"
      ></p-button>
    </div>
  </form>
</div>
