<div class="p-6">
  <h2 class="text-3xl font-bold mb-6">Patient Registration</h2>

  <div class="mb-8">
    <div class="flex gap-8">
      <div
        class="flex items-center gap-4"
        *ngFor="let type of patientTypeDropDown$ | async"
      >
        <p-radioButton
          name="patientType"
          [inputId]="'type_' + type.id"
          [value]="type.id"
          [(ngModel)]="selectedPatientTypeId"
          (onClick)="onTypeChange(type.name)"
        >
        </p-radioButton>
        <label [for]="'type_' + type.id" class="cursor-pointer">{{
          type.name
        }}</label>
      </div>

      <!-- <div class="flex items-center gap-2">
        <p-radioButton
          name="patientType"
          inputId="entitle"
          value="Entitle"
          [(ngModel)]="patientType"
          (onClick)="onTypeChange('Entitle')"
        >
        </p-radioButton>
        <label for="entitle" class="cursor-pointer">Entitle</label>
      </div>

      <div class="flex items-center gap-2">
        <p-radioButton
          name="patientType"
          inputId="panel"
          value="Panel"
          [(ngModel)]="patientType"
          (onClick)="onTypeChange('Panel')"
        >
        </p-radioButton>
        <label for="panel" class="cursor-pointer">Panel</label>
      </div> -->
    </div>
  </div>

  <form [formGroup]="patientForm" (ngSubmit)="submit()">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
      <div>
        <label>Patient CNIC</label>
        <input
          pInputText
          formControlName="cnic"
          class="w-full"
          placeholder="Enter CNIC"
          variant="filled"
    [ngClass]="{
  'ng-invalid ng-dirty': patientForm.controls['cnic'].invalid && (patientForm.controls['cnic'].dirty || patientForm.controls['cnic'].touched)
}"


        />
      </div>

      <div>
        <label>Patient Name</label>
        <input
          pInputText
          formControlName="name"
          class="w-full p-inputtext"
          placeholder="Enter Patient Name"
          variant="filled"
         [ngClass]="{
                  'ng-invalid ng-dirty':
                    patientForm.controls['name'].invalid &&
                    patientForm.controls['name'].touched
                }"
        />
      </div>
      <div>
        <label>Upload Picture</label>
        <p-fileUpload
          mode="basic"
          name="fileUpload"
          [auto]="true"
          chooseLabel="Upload Picture"
          class="w-full"
          (onSelect)="uploadFile($event, 'picture')"
        ></p-fileUpload>
      </div>
      <div>
        <label>Gender</label>
        <p-select
          [options]="[
            { value: 'Male', label: 'Male' },
            { value: 'Female', label: 'Female' }
          ]"
          formControlName="gender"
          placeholder="Select gender"
          class="w-full"
          variant="filled"
         [ngClass]="{
  'ng-invalid ng-dirty': patientForm.controls['cnic'].invalid && (patientForm.controls['cnic'].dirty || patientForm.controls['cnic'].touched)
}"

        ></p-select>
      </div>

      <div>
        <label>Marital Status</label>
        <p-select
          [options]="[
            { value: 'Single', label: 'Single' },
            { value: 'Married', label: 'Married' },
            { value: 'Divorced', label: 'Divorced' },
            { value: 'Widow', label: 'Widow' }
          ]"
          formControlName="maritalStatus"
          placeholder="Select marital status"
          class="w-full"
          variant="filled"
          [ngClass]="{
  'ng-invalid ng-dirty': patientForm.controls['cnic'].invalid && (patientForm.controls['cnic'].dirty || patientForm.controls['cnic'].touched)
}"

        ></p-select>
      </div>

      
      <div>
        <label>Passport</label>
        <input
          pInputText
          formControlName="passport"
          class="w-full"
          placeholder="Enter Passport Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Date of Birth</label>
        <p-datepicker
          variant="filled"
          type="date"
          formControlName="dob"
          placeholder="Select Date of Birth"
          [yearNavigator]="true"
          [yearRange]="'2000:2030'"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [ngClass]="{
            'ng-invalid ng-dirty':
              patientForm.controls['dob'].invalid &&
              patientForm.controls['dob'].touched
          }"
        />
      </div>

      <div>
        <label>Religion</label>

        <p-select
          [options]="(religionDropDown$ | async) ?? []"
          formControlName="religionId"
          placeholder="Select Religion"
          class="w-full"
          variant="filled"
        ></p-select>
      </div>

      <div>
        <label>Country</label>

        <p-select
          [options]="(countryDropDown$ | async) ?? []"
          formControlName="countryId"
          placeholder="Enter Country"
          class="w-full"
          variant="filled"
          (onChange)="onValueChange($event, 'country')"
        ></p-select>
      </div>

      <div>
        <label>Province</label>
        <p-select
          [options]="(provinceDropDown$ | async) ?? []"
          formControlName="provinceId"
          placeholder="Enter Province"
          class="w-full"
          variant="filled"
        ></p-select>
      </div>

      <div>
        <label>City</label>
        <input
          pInputText
          formControlName="cityId"
          type="number"
          class="w-full"
          placeholder="Enter City ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Address</label>
        <input
          pInputText
          formControlName="address"
          class="w-full"
          placeholder="Enter Address"
          variant="filled"
        />
      </div>

      <div>
        <label>Mobile No</label>
        <input
          pInputText
          formControlName="mobileNo"
          class="w-full"
          placeholder="Enter Mobile Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Phone No</label>
        <input
          pInputText
          formControlName="phone"
          class="w-full"
          placeholder="Enter Phone Number"
          variant="filled"
        />
      </div>

      <div>
        <label>Email</label>
        <input
          pInputText
          formControlName="email"
          class="w-full"
          placeholder="Enter Email Address"
          variant="filled"
        />
      </div>

      <div>
        <label>Guardian Type</label>

        <p-select
          [options]="(guardianDropDown$ | async) ?? []"
          formControlName="guadianTypeId"
          placeholder="Enter Guardian Type"
          class="w-full"
          variant="filled"
        ></p-select>
      </div>

      <div>
        <label>Guardian Name</label>
        <input
          pInputText
          formControlName="guadianName"
          class="w-full"
          placeholder="Enter Guardian Name"
          variant="filled"
        />
      </div>

      <div>
        <label>Guardian NIC</label>
        <input
          pInputText
          formControlName="guadianNic"
          class="w-full"
          placeholder="Enter Guardian NIC"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Type</label>

        <p-select
          [options]="(relationDropDown$ | async) ?? []"
          formControlName="noktypeId"
          placeholder="Enter NOK Type "
          class="w-full"
          variant="filled"
        ></p-select>
      </div>

      <div>
        <label>NOK Relation</label>
        <p-select
          [options]="(relationDropDown$ | async) ?? []"
          formControlName="nokrelationId"
          placeholder="Enter NOK Relation "
          class="w-full"
          variant="filled"
        ></p-select>
      </div>

      <div>
        <label>NOK Name</label>
        <input
          pInputText
          formControlName="nokname"
          class="w-full"
          placeholder="Enter NOK Name"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK NIC</label>
        <input
          pInputText
          formControlName="noknic"
          class="w-full"
          placeholder="Enter NOK NIC"
          variant="filled"
        />
      </div>

      <div>
        <label>NOK Mobile</label>
        <input
          pInputText
          formControlName="nokmobile"
          class="w-full"
          placeholder="Enter NOK Mobile"
          variant="filled"
        />
      </div>

      <!-- <div>
        <label>Patient Type</label>

        <p-select
          [options]="(patientTypeDropDown$ | async) ?? []"
          formControlName="patientTypeId"
          placeholder="Enter Patient Type"
          class="w-full"
          variant="filled"
        ></p-select>
      </div> -->

      <div>
        <label>Organization (porgId)</label>
        <input
          pInputText
          formControlName="porgId"
          type="number"
          class="w-full"
          placeholder="Enter Organization ID"
          variant="filled"
        />
      </div>

      <div>
        <label>Package (packId)</label>
        <input
          pInputText
          formControlName="packId"
          type="number"
          class="w-full"
          placeholder="Enter Package ID"
          variant="filled"
        />
      </div>
    </div>

    <!-- Additional Fields for Entitle & Panel -->
    <ng-container *ngIf="patientType !== 'Regular'">
      <h3 class="text-xl font-semibold mt-4 mb-2">Employment Details</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div>
          <label>Employee Card No</label>
          <input
            pInputText
            formControlName="pnlEmpCardNo"
            class="w-full"
            placeholder="Enter Employee Card No"
            variant="filled"
          />
        </div>
        <div>
          <label>Card Expiry Date</label>

          <p-datepicker
            variant="filled"
            type="date"
            formControlName="pnlEmpCardExpiry"
            placeholder="Select Card Expiry Date"
            [yearNavigator]="true"
            [yearRange]="'2000:2030'"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            [ngClass]="{
              'ng-invalid ng-dirty':
                patientForm.controls['dob'].invalid &&
                patientForm.controls['dob'].touched
            }"
          />
        </div>
        <div>
          <label>Department</label>

          <input
            pInputText
            formControlName="pnlDepartment"
            class="w-full"
            placeholder="Enter Department"
            variant="filled"
          />
        </div>
        <div>
          <label>Designation</label>

          <!-- <p-select
            [options]="(designationDropDown$ | async) ?? []"
            formControlName="designation"
            placeholder="Enter Designation "
            class="w-full"
            variant="filled"
          ></p-select> -->
          <input
            pInputText
            formControlName="designation"
            class="w-full"
            placeholder="Enter Designation"
            variant="filled"
          />
        </div>
        <div>
          <label>Upload Document 1</label>
          <p-fileUpload
            mode="basic"
            name="fileUpload"
            [auto]="true"
            chooseLabel="Upload File"
            class="w-full"
            (onSelect)="uploadFile($event, 'pnlDocument1')"
          ></p-fileUpload>
        </div>
        <div>
          <label>Upload Document 2</label>
          <p-fileUpload
            mode="basic"
            name="fileUpload"
            [auto]="true"
            chooseLabel="Upload File"
            class="w-full"
            (onSelect)="uploadFile($event, 'pnlDocument2')"
          ></p-fileUpload>
        </div>
      </div>

      <h3 class="text-xl font-semibold mt-4 mb-2">Dependent Details</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- <div>
          <label>Is Self?</label>
          <p-checkbox binary="true" formControlName="isSelf"></p-checkbox>
        </div> -->
        <div>
          <label>Dependent NIC</label>
          <input
            pInputText
            formControlName="dependentNic"
            class="w-full"
            placeholder="Enter Dependent NIC"
            variant="filled"
          />
        </div>
        <div>
          <label>Dependent Relation</label>

          <p-select
            [options]="(relationDropDown$ | async) ?? []"
            formControlName="dependentRelationId"
            placeholder="Enter Dependent Relation"
            class="w-full"
            variant="filled"
          ></p-select>
        </div>
      </div>
    </ng-container>

    <div class="text-right mt-6"    *ngIf="!isLoading(); else spinner">
      <p-button
        label="Submit"
        type="submit"
        icon="pi pi-check"
        class="w-full md:w-1/3"
      ></p-button>
    </div>
    <ng-template #spinner>
          <div class="text-right mt-6">
            <button
              class="cursor-pointer mt-4 bg-[#2929b9] hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition duration-200"
            >
              <p-progress-spinner
                ariaLabel="loading"
                [style]="{ width: '25px', height: '25px' }"
              />
            </button>
          </div>
        </ng-template>
  </form>
</div>
<!-- <p-confirmdialog key="positionDialog" position="top" /> -->
<p-confirmDialog 
  position="center" 
  styleClass="custom-confirm-dialog" 
  [closable]="false" 
  [baseZIndex]="10000">
</p-confirmDialog>
