<p-dropdown
  [options]="data()"
  [(ngModel)]="selectedBank"
  placeholder="Select a Bank"
  optionLabel="name"
  [filter]="true"
  [showClear]="true"
>
</p-dropdown>
<button pButton label="Add Country" (click)="showDialog()"></button>

<p-dialog header="Add New Designation" [visible]="displayDialog()">
  <div class="grid grid-cols-1 gap-4">
    <input
      pInputText
      [(ngModel)]="newDesignation.name"
      placeholder="Designation Name"
      required
    />
    <input
      pInputText
      [(ngModel)]="newDesignation.description"
      placeholder="Description"
      required
    />
  </div>
  <button pButton label="Save" (click)="addDesignation()"></button>
</p-dialog>

<app-table />
