<p-dropdown
  [options]="data()"
  [(ngModel)]="selectedBank"
  placeholder="Select a Bank"
  optionLabel="name"
  [filter]="true"
  [showClear]="true"
>
</p-dropdown>
<button pButton label="Add Country" (click)="showDialog()"></button>

<p-dialog header="Add New Province" [visible]="displayDialog()">
  <div class="grid grid-cols-1 gap-4">
    <input
      pInputText
      [(ngModel)]="newProvince.name"
      placeholder="Province Name"
      required
    />
    <input
      pInputText
      [(ngModel)]="newProvince.code"
      placeholder="Province Code"
      required
    />
    <input
      pInputText
      [(ngModel)]="newProvince.cid"
      placeholder="Country ID"
      required
    />
    <input
      pInputText
      [(ngModel)]="newProvince.description"
      placeholder="Description"
      required
    />
  </div>
  <button pButton label="Save" (click)="addProvince()"></button>
</p-dialog>

<app-table />
