<!-- <div class="layout-container">
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="main-content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="flex flex-col">
  <!-- Top Navigation Menu -->

  <div class="flex flex-1">
    <app-sidebar />
    <!-- Main Div Container -->
    <div class="flex-1">
      <app-navbar />

      <!-- Main COntent -->
      <div>
        <router-outlet />
      </div>
    </div>
  </div>
</div>
