<!-- <div class="layout-container">
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="main-content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

@if(!(isLoginPage$ | async)){
<div class="flex flex-col h-full">
  <div class="flex flex-1">
    <app-sidebar />

    <div
      class="flex-1"
      [ngStyle]="{
        width: isDrawerOpen ? 'calc(100% - 20rem)' : '100%',
      }"
    >
      <app-navbar />
      <div
      class="p-8"
        style="margin-top: 60px"
        [ngStyle]="{
        marginLeft: isDrawerOpen ? '30px' : '0',
      }"
      >
        <router-outlet />
      </div>
    </div>
  </div>
</div>

}@else {
<router-outlet />
}
