<h3
  class="font-bold pl-4 color-gray text-2xl subpixel-antialiased text-gray-800 uppercase"
>
  {{ pageTitle() }}
</h3>

<app-breadcrumb />
<div class="card p-4 pt-0">
  <p-contextmenu #cm [model]="contextItems" />
  @if(data() && !loading()){
  <p-table
    [scrollable]="true"
    scrollHeight="flex"
    #dt
    [value]="data()"
    [columns]="tableColumns()"
    [loading]="loading()"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [size]="'large'"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="10"
    stripedRows
    responsiveLayout="scroll"
    class="custom-table w-full overflow-x-auto"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="globalFilterFields()"
    [(contextMenuSelection)]="selectedItem"
    [contextMenu]="cm"
  >
    <ng-template #caption class="p-0">
      <div class="flex flex-wrap gap-2">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear(dt)"
        />
        <p-button
          p-button
          icon="pi pi-plus"
          (click)="showDialog()"
          [label]="getAddButtonLabel()"
          styleClass="ml-2"
        />
        <p-iconfield iconPosition="left" class="ml-auto w-full md:w-56">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Keyboard Search"
            class="w-full"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) {
        <th [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        }
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
        @for (col of columns; track col) {
        <td>{{ rowData[col.field] }}</td>
        }
        <td>
          <span
            [ngClass]="{
              'bg-green-100 text-green-800': rowData['status'],
              'bg-red-100 text-red-400-800': !rowData['status']
            }"
            class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold"
          >
            {{ rowData["status"] ? "Active" : "Inactive" }}
          </span>
        </td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            (click)="editRow(rowData)"
          ></button>

          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-danger"
            (click)="deleteItemConfrimatin(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
  <p-dialog
    [header]="getDialogHeader()"
    [visible]="displayDialog()"
    styleClass="w-full md:w-[45rem]"
    [closable]="false"
    [maximizable]="true"
    (onHide)="onDialogDismiss()"
  >
    <ng-template #header>
      <div class="flex items-center justify-between w-full">
        <h3 class="font-semibold text-lg">{{ getDialogHeader() }} Details</h3>
        <button
          pButton
          icon="pi pi-times"
          (click)="closeDialog()"
          class="p-button-rounded p-button-text"
        ></button>
      </div>
    </ng-template>

    <!-- To add the floor #################### -->
    <ng-container *ngIf="currentDataType === 'floors'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Branch
          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches()"
          [(ngModel)]="selectedBranch"
          optionLabel="branchName"
          placeholder="Select Branch"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Building
          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(buildings$ | async; as buildings){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="buildings"
          [(ngModel)]="selectedBuilding"
          optionLabel="name"
          placeholder="Select Building"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'building')"
          [disabled]="this.selectedBranchSubj.value == 0 && !selectedBuilding"
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Floor Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newFloor.name"
          id="name"
          placeholder="Floor Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newFloor.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Status

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox [(ngModel)]="newFloor.status" [binary]="true" />
      </div>
    </ng-container>

    <!-- To add the building ############## -->
    <ng-container *ngIf="currentDataType === 'buildings'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Building Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newBuilding.name"
          id="name"
          placeholder="Building Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description

          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newBuilding.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Status
          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox [(ngModel)]="newBuilding.status" [binary]="true" />
      </div>
    </ng-container>

    <!-- To add the room -->
    <ng-container *ngIf="currentDataType === 'rooms'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Branch

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches()"
          [(ngModel)]="selectedBranch"
          optionLabel="branchName"
          placeholder="Select Branch"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Building

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(buildings$ | async; as buildings){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="buildings"
          [(ngModel)]="selectedBuilding"
          optionLabel="name"
          placeholder="Select Building"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'building')"
          [disabled]="this.selectedBranchSubj.value == 0 && !selectedBuilding"
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Floor

          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(floors$ | async; as floors){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="floors"
          [(ngModel)]="selectedFloor"
          optionLabel="name"
          placeholder="Select Floor"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'floor')"
          [disabled]="
            (this.selectedBuildingSubj.value == 0 ||
              this.selectedBranchSubj.value == 0) &&
            !selectedFloor
          "
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Room Name

          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newRoom.name"
          id="name"
          placeholder="Room Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description
          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newRoom.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Status
          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox [(ngModel)]="newRoom.status" [binary]="true" />
      </div>
    </ng-container>

    <!-- To add the Bed -->
    <ng-container *ngIf="currentDataType === 'beds'">
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Branch

          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="branches()"
          [(ngModel)]="selectedBranch"
          optionLabel="branchName"
          placeholder="Select Branch"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'branch')"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Building
          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(buildings$ | async; as buildings){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="buildings"
          [(ngModel)]="selectedBuilding"
          optionLabel="name"
          placeholder="Select Building"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'building')"
          [disabled]="this.selectedBranchSubj.value == 0 && !selectedBuilding"
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Floor
          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(floors$ | async; as floors){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="floors"
          [(ngModel)]="selectedFloor"
          optionLabel="name"
          placeholder="Select Floor"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'floor')"
          [disabled]="
            (this.selectedBuildingSubj.value == 0 ||
              this.selectedBranchSubj.value == 0) &&
            !selectedFloor
          "
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Select Room
          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(rooms$ | async; as rooms){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="rooms"
          [(ngModel)]="selectedRoom"
          optionLabel="name"
          placeholder="Select Room"
          class="w-full"
          required
          (ngModelChange)="onDropdownChange($event, 'room')"
          [disabled]="
            (this.selectedBuildingSubj.value == 0 ||
              this.selectedBranchSubj.value == 0 ||
              this.selectedFloorSub.value == 0) &&
            !selectedRoom
          "
        />
        }
      </div>

      <!-- Get the charges type -->
      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Charges Type
          <span class="text-red-400 font-bold">*</span>
        </label>
        @if(chargesType$ | async; as charges){
        <p-select
          filter="true"
          [checkmark]="true"
          [options]="charges"
          [(ngModel)]="selectedCharges"
          optionLabel="name"
          placeholder="Select Charges Type"
          class="w-full"
          required
        />
        }
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="abbreviation" class="font-medium"
          >Min and Max
          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-slider [(ngModel)]="minMaxRange" [range]="true" class="w-full" />
      </div>

      <!-- Dropdown Ends here  ########### -->

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-center"
      >
        <label for="name" class="font-medium"
          >Bed Name
          <span class="text-red-400 font-bold">*</span>
        </label>
        <input
          pInputText
          [(ngModel)]="newBed.name"
          id="name"
          placeholder="Bed Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Description
          <span class="text-red-400 font-bold">*</span>
        </label>
        <textarea
          pInputTextarea
          [(ngModel)]="newBed.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 mb-4 items-start"
      >
        <label for="description" class="font-medium"
          >Status
          <span class="text-red-400 font-bold">*</span>
        </label>
        <p-checkbox [(ngModel)]="newBed.status" [binary]="true" />
      </div>
    </ng-container>
    <div class="flex justify-end mt-4">
      <button
        pButton
        label="Save"
        (click)="addOrUpdateItem()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
      ></button>
    </div>
  </p-dialog>

  <!-- for the deletion confirmation -->
  <p-confirmDialog>
    <ng-template pTemplate="footer" let-confirmation>
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="this.confirmationService.close()"
      ></button>

      <button
        pButton
        type="button"
        label="Proceed"
        icon="pi pi-check"
        class="p-button-danger"
        (click)="deleteItem()"
      ></button>
    </ng-template>
  </p-confirmDialog>
</div>
