<div class="card">
  <p-contextmenu #cm [model]="contextItems" />
  @if(data()){
  <p-table
    #dt
    [value]="data()"
    [columns]="tableColumns"
    [loading]="loading()"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [size]="'large'"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="10"
    stripedRows
    responsiveLayout="scroll"
    class="custom-table"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="globalFilterFields()"
    [(contextMenuSelection)]="selectedItem"
    [contextMenu]="cm"
    stateStorage="session"
    stateKey="statedemo-session"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear(dt)"
        />
        <p-button
          p-button
          icon="pi pi-plus"
          (click)="showDialog()"
          [label]="getAddButtonLabel()"
          styleClass="ml-2"
        />
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Keyboard Search"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) {
        <th [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        }
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData">
        @for (col of columns; track col) {
        <td>{{ rowData[col.field] }}</td>
        }
        <td>
          <span
            [ngClass]="{
              'bg-green-100 text-green-800': rowData['status'] === 1,
              'bg-red-100 text-red-800': rowData['status'] === 0
            }"
            class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold"
          >
            {{ rowData["status"] === 1 ? "Active" : "Inactive" }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
  <p-dialog
    [header]="getDialogHeader()"
    [visible]="displayDialog()"
    styleClass="w-full md:w-[45rem]"
    [closable]="false"
    [maximizable]="true"
  >
    <ng-template #header>
      <div class="flex items-center justify-between w-[100%]">
        <h3 class="font-semibold text-lg">{{ getDialogHeader() }} Details</h3>
        <button
          pButton
          icon="pi pi-times"
          (click)="closeDialog()"
          class="p-button-rounded p-button-text"
        ></button>
      </div>
    </ng-template>

    <ng-container *ngIf="currentDataType === 'floors'">
      <div class="grid grid-cols-[120px_1fr] gap-4 mb-4 items-center">
        <label for="abbreviation" class="text-right font-medium"
          >Select Building</label
        >
        <p-select
          filterBy="name"
          [checkmark]="true"
          [options]="buildings()"
          [(ngModel)]="selectedBuilding"
          optionLabel="name"
          placeholder="Select Building"
          class="w-full md:w-56"
        />
      </div>
      <div class="grid grid-cols-[120px_1fr] gap-4 mb-4 items-center">
        <label for="name" class="text-right font-medium">Floor Name</label>
        <input
          pInputText
          [(ngModel)]="newFloor.name"
          id="name"
          placeholder="Floor Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>

      <div class="grid grid-cols-[120px_1fr] gap-4 mb-4 items-start">
        <label for="description" class="text-right font-medium"
          >Description</label
        >
        <textarea
          pInputTextarea
          [(ngModel)]="newFloor.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>

    <ng-container *ngIf="currentDataType === 'buildings'">
      <div class="grid grid-cols-[120px_1fr] gap-4 mb-4 items-center">
        <label for="name" class="text-right font-medium">Building Name</label>
        <input
          pInputText
          [(ngModel)]="newBuilding.name"
          id="name"
          placeholder="Building Name"
          required
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />
      </div>
      <div class="grid grid-cols-[120px_1fr] gap-4 mb-4 items-start">
        <label for="description" class="text-right font-medium"
          >Description</label
        >
        <textarea
          pInputTextarea
          [(ngModel)]="newBuilding.description"
          id="description"
          placeholder="Description"
          required
          rows="5"
          class="w-full p-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        ></textarea>
      </div>
    </ng-container>

    <div class="flex justify-end mt-4">
      <button
        pButton
        label="Save"
        (click)="addOrUpdateItem()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
      ></button>
    </div>
  </p-dialog>
</div>
