input::placeholder {
    color: #a0aec0; /* Soft gray */
    opacity: 0.75;
    font-size: 14px;
  }
  :host ::ng-deep .radiobutton.background {
    --p-radiobutton-checked-background: #28a745;
    
  }
  