<h2 class="text-2xl font-semibold mb-5">{{ formStructure.globalTitle }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Tabs View -->
  <p-tabs
    [value]="0"
    *ngIf="formStructure.tabs; else flatForm"
    [tabindex]="selectedTabIndex"
    (valueChange)="onTabChange($event)"
    scrollable
  >
    <p-tablist>
      <p-tab
        *ngFor="let tab of formStructure.tabs; let i = index"
        [value]="i"
        >
        <!-- [disabled]="currentTab() !== tab.tabName" -->
        {{ tab.tabName }}
      </p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel
        *ngFor="let tab of formStructure.tabs; let i = index"
        [value]="i"
      >
        <div *ngFor="let section of tab.sections" class="mb-4">
          <h3 class="text-xl font-semibold mb-2">{{ section.title }}</h3>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div *ngFor="let field of section.fields" class="flex flex-col">
              <label class="text-sm font-medium mb-1">{{ field.label }}</label>

              <!-- Text Input -->
              <input
                variant="filled"
                pInputText
                *ngIf="field.type === 'text'"
                type="text"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || field.label"
                class="p-inputtext p-component w-full py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              />

              <!-- Select Input -->
              <p-select
                variant="filled"
                *ngIf="field.type === 'select'"
                [options]="field.options"
                optionLabel="label"
                optionValue="value"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || 'Select ' + field.label"
                class="w-full"
              >
              </p-select>

              <!-- Date Input -->
              <p-calendar
                variant="filled"
                *ngIf="field && field.type === 'date'"
                type="date"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || field.label"
                [yearNavigator]="true"
                [yearRange]="'2000:2030'"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
              />

              <!-- Number Input -->
              <input
                variant="filled"
                *ngIf="field.type === 'number'"
                type="number"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || field.label"
                class="p-inputtext p-component w-full py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              />

              <!-- Radio Inpput -->
              <!-- Radio Button Input -->
              <div
                *ngIf="field.type === 'radio'"
                class="flex items-center gap-4"
              >
                <p-radioButton
                  name="{{ field.name }}"
                  [formControlName]="field.name"
                  value="1"
                  inputId="{{ field.name }}Yes"
                />
                <label for="{{ field.name }}Yes">Yes</label>

                <p-radioButton
                  name="{{ field.name }}"
                  [formControlName]="field.name"
                  value="0"
                  inputId="{{ field.name }}No"
                />
                <label for="{{ field.name }}No">No</label>
              </div>

              <!-- Image Upload Input using PrimeNG -->
              <div
                *ngIf="field.type === 'image'"
                class="flex flex-col relative"
              >
                <p-fileUpload
                  *ngIf="!uploadedImages[field.name]"
                  mode="basic"
                  name="imageFile"
                  accept="image/*"
                  (onSelect)="onImageUpload($event, field.name)"
                  [auto]="true"
                  chooseLabel="Upload Image"
                  class="w-full"
                ></p-fileUpload>

                <!-- Image Preview -->
                <img
                  *ngIf="uploadedImages[field.name]"
                  [src]="uploadedImages[field.name]"
                  class="mt-2 w-16 h-16 object-cover rounded-md absolute left-32 top-0"
                  alt="Uploaded Image"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Table -->
        <div class="flex justify-end">
          <button
            type="submit"
            class="cursor-pointer mt-4 bg-[#2929b9] hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition duration-200"
          *ngIf="!isLoading else spinner"
            >
            Submit
          </button>
        </div>
      <ng-template #spinner>
      
        <div class="card flex justify-center">
          <button
          class="cursor-pointer mt-4 bg-[#2929b9] hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition duration-200 "
          >
          <p-progress-spinner ariaLabel="loading" [style]="{width:'25px',height:'25px'}" />
        </button>
        </div>
      </ng-template>
<app-dynamic-table *ngIf="tab.tableData" [tableTitle]="tab.tabName" [tableData]="tab.tableData"></app-dynamic-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <!-- Flat Form View -->
  <ng-template #flatForm>
    <div *ngIf="formStructure.sections; else simpleForm" class="space-y-6">
      <div
        *ngFor="let section of formStructure.sections"
        class="bg-white p-4 rounded-lg shadow-md"
      >
        <h3 class="text-lg font-semibold mb-4">{{ section.title }}</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div *ngFor="let field of section.fields" class="flex flex-col">
            <label class="text-sm font-medium mb-1">{{ field.label }}</label>

            <!-- Text Input -->
            <input
              *ngIf="field.type === 'text'"
              type="text"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || field.label"
              class="p-inputtext p-component w-full py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />

            <!-- Select Input -->
            <p-dropdown
              *ngIf="field.type === 'select'"
              [options]="field.options"
              optionLabel="label"
              optionValue="value"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || 'Select ' + field.label"
              class="w-full"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Flat Form View (if no tabs and no sections) -->
  <ng-template #simpleForm>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let field of formStructure.fields" class="flex flex-col">
        <label class="text-sm font-medium mb-1">{{ field.label }}</label>

        <!-- Text Input -->
        <input
          *ngIf="field.type === 'text'"
          type="text"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || field.label"
          class="p-inputtext p-component w-3/4 py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <!-- Number Input -->
        <input
          *ngIf="field.type === 'number'"
          type="number"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || field.label"
          class="p-inputtext p-component w-3/4 py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <!-- Date Input -->
        <input
          *ngIf="field.type === 'date'"
          type="date"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || field.label"
          class="p-inputtext p-component w-3/4 py-2 px-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <!-- Select Input -->
        <p-dropdown
          *ngIf="field.type === 'select'"
          [options]="field.options"
          optionLabel="label"
          optionValue="value"
          [formControlName]="field.name"
          placeholder="Select {{ field.label }}"
          class="w-3/4"
        >
        </p-dropdown>
      </div>
    </div>
  </ng-template>
 
</form>



